@page
@using Mt.WebVNext.ServerAppMvc.Web.Pages.Companies
@model IndexModel
@{
}

<h1>Companies</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var company in Model.Companies.Rows)
    {
      <tr>
        <td>@company.CompanyId</td>
        <td>@company.Name</td>
        <td>@company.Description</td>
        <td>
          <a asp-page="./Edit"
             asp-route-id="@company.CompanyId">edit</a>
          <button type="submit"
                  class="btn btn-light"
                  asp-page-handler="delete"
                  asp-route-id="@company.CompanyId">delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@{
  var prevDisabled = !Model.Companies.HasPreviousPage ? "disabled" : "";
  var nextDisabled = !Model.Companies.HasNextPage ? "disabled" : "";
}

<a asp-route-pageNumber="@(Model.Companies.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
  Previous
</a>
<a asp-route-pageNumber="@(Model.Companies.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
  Next
</a>

<a asp-page="./Create">Create New Company</a>
